node_modules
.turbo
dist
*.tsbuildinfo
.env
.env.*
!.env.example
coverage
pnpm-lock.yaml
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.pid
*.pid.lock
.DS_Store
*.pem
*.key
*.p12
*.sqlite
*.sqlite3
*.db
